* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    background-color: rgb(145, 145, 145);
  }
  
  footer {
    height: 75px;
    padding: 2.5%;
  }

  nav {
    position: fixed;
    padding: 1%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 100px;
  }
  
  .menu {
    position: absolute;
    right: 5px;
    top: 0;
  }
  
  header {
    padding: 15% 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  .about {
    height: 200px;
    padding: 5% 0;
    background-color: rgb(189, 188, 188);
  }
  
  .samples {
    background-color: rgb(226, 226, 226);
    padding: 5% 0;
  }

  .samples img {
    padding-bottom: 2.5%;
  }

  .project {
    border: 2px solid black;
    border-radius: 5px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  