* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }

  p {
    padding: 7.5%;
  }
  
  nav, footer, .navlinks, #contact .arrows {
    background-color: #E8FFFE;
  }
  
  footer {
    padding-top: 2%;
  }

  nav {
    position: fixed;
    padding: 1%;
    top: 0;
    left: 0;
    right: 0;
    min-height: 50px;
    z-index: 1;
  }

  ul {
    list-style: none;
  }

  .fa-bars {
    color: black;
  }
  
  #home {
    position: absolute;
    left: 10px;
    top: 5px;
  }
  
  .menu {
    position: absolute;
    right: 10px;
    top: 5px;
  }
  
  header {
    padding: 10% 5% 2% 5%;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(
      rgb(77, 192, 181, 0.8), rgb(77, 192, 181, 0.8)
      ),
    url(Images/hero.png) center no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    height: 100vh;
    text-shadow:
    -1px -1px 0 grey, 
     1px -1px 0 grey, 
     -1px 1px 0 grey,  
      1px 1px 0 grey;
  }

  header .fa-chevron-down, #about .fa-chevron-down {
    color: white;
  }
  
  #about {
    min-height: 200px;
    padding: 5% 0 2%;
    background-color:#20504F;
    color: white;
  }

  #about p {
    text-align: left;
  }

  .headshot {
    padding: 4% 0 1% 5%;
    object-fit: contain;
    max-width: 40%;
  }
  
  #samples {
    background-color: #4DC0B5;
    padding: 3% 0 5% 0;
    color: #ffffff;
  }

  #samples h2 {
    padding-bottom: 5%;
  }

  .sample_img {
    padding: 5% 0 2.5%;
    width: 90%;
  }

  .livepage {
    color: #38A89D;
  }

  .project {
    border: 2px solid black;
    border-radius: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color:#E8FFFE;
    color: black;
    padding: 5% 0;
    margin-bottom: 5%;
  }

  #samples>div:last-child {
    margin-bottom: 0;
  }

  .fa-html5, .fa-css3-alt, .fa-js-square {
    padding-bottom: 3px;
  }

  .tools {
    position: relative;
    padding-right: 60px;
  }

  .jquery, .postgres {
    position: absolute;
    bottom: 0;
    width: 85px;
    height: 85px;
    margin-left: 5px;
  }

  h2, h3 {
    font-weight: 800;
    padding: 2%;
  }

  .project p {
    padding: 5% 5% 5% 20%;
    text-align: left;
  }

  a {
    color: black;
  }

  #contact>a {
    padding: 0% 2%;
  }

  #contact .fa-chevron-up {
    padding: 2%;
  }

  .aboutContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  header .arrows {
    position: absolute;
    bottom: 5px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
  }

  .hidden {
    background: transparent;
    border: none;
  }

  @media screen and (min-width: 1000px) {

  header h1 {
    padding: 10% 5%;
  }

  header {
    padding: 5% 5% 2%;
  }

  #about .arrows {
    position: relative;
    width: 100%;
    text-align: center;
  }

  .projectText {
    float: left;
    padding-right: 15px;
    width: 40%;
  }

  .project {
    overflow: hidden;
    display: inline-block;
  }

  .sample_img {
    width: 50%;
    padding: 0;
  }

  #hamburger, #cross {
    display: none !important;
  }

  .navlinks {
    text-align: right;
    display: inline !important;
  }

  .navlinks li {
    display: inline;
    padding: 1%;
  }

  .navlinks a {
    text-decoration: none;
  }

}

  @media screen and (min-width: 650px) and (max-width: 999px) {

    header h1 {
      padding: 10% 5%;
    }

    #hamburger, #cross {
      display: none !important;
    }

    .navlinks {
      text-align: right;
      display: inline !important;
    }
  
    .navlinks li {
      display: inline;
      padding: 1%;
    }
  
    .navlinks a {
      text-decoration: none;
    }

    .project p {
      text-align: center;
      padding: 5% 5%;
    }

    .aboutContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 2%;
    }

    .headshot {
      object-fit: contain;
      max-width: 50%;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 649px) {
    header h1 {
      padding: 5% 5% 10%;
    }

    header {
      padding: 20% 5% 10% 5%;
    }

    .navlinks {
      padding: 5px 20px 5% 0;
      line-height: 2;
      text-align: right;
      width: 215px;
      position: absolute;
      right: 0;
      top: 50px;
      display: none;
    }

    .navlinks a {
      text-decoration: none;
    }

    .menu:hover {
      cursor: pointer;
    }

    #hamburger {
      display: block;
    }

    #cross {
      display: none;
    }

    .project p {
      text-align: center;
      padding: 5% 5%;
    }

    .aboutContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 2%;
    }

    .headshot {
      object-fit: contain;
      max-width: 50%;
      padding: 0;
    }
  }