* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }

  p {
    padding: 7.5%;

  }

  .fa-chevron-down, .fa-chevron-up {
    padding: 5%;
  }
  
  nav, footer, .navlinks {
    background-color: #E8FFFE;
  }
  
  footer {
    height: 75px;
    padding-top: 2%;
  }

  nav {
    position: fixed;
    padding: 1%;
    top: 0;
    left: 0;
    right: 0;
    min-height: 50px;
  }

  ul {
    list-style: none;
  }

  .fa-bars {
    color: black;
  }
  
  #home {
    position: absolute;
    left: 10px;
    top: 5px;
  }
  
  .menu {
    position: absolute;
    right: 10px;
    top: 5px;
  }
  
  header {
    padding: 15% 5% 5% 5%;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(
      rgb(77, 192, 181, 0.8), rgb(77, 192, 181, 0.8)
      ),
    url(https://images.unsplash.com/photo-1491944799262-a5be522e2300) center no-repeat;
    background-size: cover;
    color: white;
    max-height: 700px;
  }

  header h1 {
    padding: 5% 5% 10%;
  }

  header .fa-chevron-down {
    padding: 10% 0 0%;
  }

  header .fa-chevron-down, .about .fa-chevron-down {
    color: white;
  }
  
  #about {
    min-height: 200px;
    padding: 5% 0;
    background-color:#20504F;
    color: white;
  }

  #about p {
    text-align: left;
  }

  .headshot {
    height: 50%;
    width: 50%;
    padding: 4% 0 1%;
  }
  
  #samples {
    background-color: #4DC0B5;
    padding: 3% 0 5% 0;
    color: #ffffff;
  }

  #samples h2 {
    padding-bottom: 5%;
  }

  .sample_img {
    padding: 2.5% 0;
    width: 90%;
  }

  .project {
    border: 2px solid black;
    border-radius: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color:#E8FFFE;
    color: black;
    padding: 5% 0;
  }

  .fa-html5, .fa-css3-alt, .fa-js-square {
    padding-bottom: 3px;
  }

  .tools {
    position: relative;
    padding-right: 60px;
  }

  .jquery {
    position: absolute;
    bottom: 0;
    width: 85px;
    height: 85px;
  }

  h2, h3 {
    font-weight: 800;
    padding: 2%;
  }

  .project p {
    padding: 0% 3% 5% 3%;
  }

  a {
    color: black;
  }

  @media screen and (min-width: 1025px) {

  header h1 {
    padding: 5% 5% 5%;
  }

  header {
    padding: 10% 5% 10% 5%;
  }

  header .fa-chevron-down {
    padding: 10% 0 0%;
  }

  .menu {
    display: none;
  }

  .navlinks {
    text-align: right;
    display: inline !important;
  }

  .navlinks li {
    border: 2px solid black;
    display: inline;
    padding: 1%;
  }

  .navlinks a {
    text-decoration: none;
  }
}

  @media screen and (min-width: 650px) and (max-width: 1024px) {

    header h1 {
      padding: 5% 5% 10%;
    }

    header {
      padding: 15% 5% 10% 5%;
    }

    header .fa-chevron-down {
      padding: 15% 0 0%;
    }

    .menu {
      display: none;
    }

    .navlinks {
      text-align: right;
      display: inline !important;
    }
  
    .navlinks li {
      border: 2px solid black;
      display: inline;
      padding: 1%;
    }
  
    .navlinks a {
      text-decoration: none;
    }

  }
  
  @media screen and (max-width: 649px) {
    header h1 {
      padding: 5% 5% 10%;
    }

    header {
      padding: 20% 5% 10% 5%;
    }

    header .fa-chevron-down {
      padding: 25% 0 0%;
    }

    .navlinks {
      padding: 10% 20px 5% 0;
      line-height: 2;
      text-align: right;
      width: 215px;
      position: absolute;
      right: 0;
      display: none;
    }

    .navlinks li {
      border: none;
    }

    .navlinks a {
      text-decoration: underline;
    }

    .menu:hover {
      cursor: pointer;
    }

    #hamburger {
      display: block;
    }

    #cross {
      display: none;
    }

  }